<header>
  
  <!-- TOP HEADER -->
  <div id="top-header">
    <div class="container">
      <ul class="header-links pull-left">
        <li><a href="#"><i class="fa fa-phone"></i> +216-24-570-236</a></li>
        <li><a href="#"><i class="fa fa-envelope-o"></i> Montassar@email.com</a></li>
        <li><a href="#"><i class="fa fa-map-marker"></i> 2041 Ariana Tunis</a></li>
      </ul>
      <ul class="header-links pull-right">
        <li><a routerLink="/addprod"><i class="fa fa-cart-plus"></i>ADD Product</a></li>
        <li><a href="#"><i class="fa fa-dinar"></i> TND</a></li>
        <li><i class="ti-user"></i> <a routerLink="/profile">{{authState === false ? 'LOGIN' : 'My Account'}}</a></li>
        <li *ngIf="!authState"><a routerLink="/singup"><i class="fa fa-user-plus"></i> singup</a></li>
        <li><a (click)="logout()" *ngIf="authState === true" ><i class="fa fa-user-plus"></i> logout</a></li>
      </ul>
    </div>
  </div>
  <!-- /TOP HEADER -->

  <!-- MAIN HEADER -->
  <div id="header">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- LOGO -->
        <div class="col-md-3">
          <div class="header-logo">
            <a href="#" class="logo">
              <img src="assets/img/logo.png" alt="">
            </a>
          </div>
        </div>
        <!-- /LOGO -->

        <!-- SEARCH BAR -->
        <div class="col-md-6">
          <div class="header-search">
            <form>
              <select class="input-select">
                <option value="0">All Categories</option>
                <option value="1">Cars Offroad</option>
                <option value="1">Sport Cars</option>
              </select>
              <input class="input" placeholder="Search here"
              [(ngModel)]="searchterm" (keyup)="search($event)" >
              <button class="search-btn">Search</button>
            </form>
          </div>
        </div>
        <!-- /SEARCH BAR -->

        <!-- ACCOUNT -->
        <div class="col-md-3 clearfix">
          <div class="header-ctn">
            <!-- Wishlist -->
            <div>
              <a href="#">
                <i class="fa fa-heart-o"></i>
                <span>Your Wishlist</span>
                <div class="qty">2</div>
              </a>
            </div>
            <!-- /Wishlist -->

            <!-- Cart -->
            <div class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                <i class="fa fa-shopping-cart"></i>
                <span>Your Cart</span>
                <div class="qty">{{totalP}}</div>
              </a>
              <div class="cart-dropdown">
                <div class="cart-list" *ngFor="let c of cartData; let i=index">
                  <div class="product-widget">
                    <div class="product-img">
                      <img src=" {{c.image}}" alt="">
                    </div>
                    <div class="product-body">
                      <h3 class="product-name"><a href="#">{{c.title}}</a></h3>
                      <h4 class="product-price"><span class="qty">{{c.quantity}}x</span>{{c.price}} DT</h4>
                    </div>
                    <button class="delete" (click)="cartService.removeCartItem(i)"><i class="fa fa-close"></i></button>
                  </div>
                </div>
                <div class="cart-summary">
                  <small>{{totalP}} Item(s) selected</small>
                  <h5>TOTAL:</h5>
                  <small>{{total}}</small>
                </div>
                <div class="cart-btns">
                  <a routerLink="/cart">View Cart</a>
                  <a routerLink="/checkout">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>
            </div>
            <!-- /Cart -->

            <!-- Menu Toogle -->
            <div class="menu-toggle">
              <a href="#">
                <i class="fa fa-bars"></i>
                <span>Menu</span>
              </a>
            </div>
            <!-- /Menu Toogle -->
          </div>
        </div>
        <!-- /ACCOUNT -->
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- /MAIN HEADER -->
  
</header>
